<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <!-- Previos value:
      <add key="repositoryPath" value="..\..\Lib" />
    -->
    <add key="repositoryPath" value="../packages/cshell" />
    <add key="repositoryPath" value="../packages" />
    <add key="repositoryPath" value="../repl/CShell-0.1.2/Lib/" />
  </config>
</configuration>